@model F.FINANCIAMIENTO.DTO.INSERTDTO
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<div class="panel-heading">
    &nbsp;
</div>




<div class="panel panel-default">

    @using (Html.BeginForm("GetData", "Home", FormMethod.Post, new { id = "form" }))
    {
        <input type="text" value="@ViewBag.Result" id="txtResult" hidden />
        <div class="form-horizontal panel-body">
            <br />
            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="col-sm-3">
                        <label> GRUPO </label>
                        @Html.DropDownList("DdLst",(IEnumerable<SelectListItem>)ViewBag.Grupos,new { id = "ddGrupos", @class = "form-control" })
                    </div>

                    <div class="col-sm-3">
                        @Html.Label("VIGENTE", htmlAttributes: new { @class = "control-label" })<br />
                        <input type="checkbox" name="ckbVigente" id="ckbVigente" checked="checked" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="col-sm-3">
                        <label>SUB-GRUPO</label>
                        <input name="txtSubG" id="txtSubG"  type="number" class="form-control" placeholder="0" />
                    </div>
                    <div class="col-sm-3">
                        <label>DESCRIPCIÓN</label>
                        @Html.TextBox("txtSubDesc", "", new { id = "txtSubDesc", type = "text", @class = "form-control"}) 
                    </div>
                </div>
            </div>
            <div id="clsOk"></div>
        </div>

        <div id="contentLst">
            <div class="panel panel-default">
               
                    <div class="panel-heading" style="padding:0px;">
                        <div id="panel-bodyFF" class="panel-body" style="padding:0px;">
                            <label class="pull-left">GUARDAR</label>
                            <button id="addBtn" type="button" class="glyphicon glyphicon-plus btn btn-info pull-right" onclick="Agregar()"></button>
                        </div>
                    </div>
                <div id="slideToggleFF">
                    <div class="ChkBrOnly">
                        <div class="panel-body">
                            <div class="form-group">
                                <table id="tblPerfGrup" class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>FUENTE</th>
                                            <th>VIGENTE</th>
                                            <th>DESCRIPCIÓN</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="pFooter" class="panel-footer">
                        <div id="pBodyFooter" class="panel-body" style="padding:0px;">
                            <button id="btnGuardar" type="button" class="glyphicon glyphicon-save btn btn-success btn-lg pull-left" onclick="Guardar()"></button>
                        </div>
                    </div>
                </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="padding:0px;">
                    <div id="panel-bodyFFUPD" class="panel-body" style="padding:0px;">
                        <label class="pull-left">ACTUALIZAR</label>
                        <button id="cargarBtn" type="button" class="glyphicon glyphicon-upload btn btn-info pull-right" onclick="Upload()"></button>
                    </div>
                </div>
                <div id="slideToggleFFUPD">
                    <div class="ChkBrOnly">
                        <div id="divTblFF">
                            <div class="panel-body">
                                <div class="form-group">
                                    <table id="tblFF" class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>FUENTE</th>
                                                <th>VIGENTE</th>
                                                <th>DESCRIPCIÓN</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="pFooter" class="panel-footer">
        <div id="pBodyFooter" class="panel-body" style="padding:0px;">
            <button id="btnGuardar" type="button" class="glyphicon glyphicon-refresh btn btn-success btn-lg pull-left"  onclick="Update()"></button>
        </div>
    </div>
    }
</div>

<style>
       .ChkBrOnly input[type="checkbox"][readonly] 
       {
        pointer-events: none;
       }

       .unselectable
       {
           background-color: #ddd;
           border-color:#ddd;
           pointer-events: none;
       }
</style>

    <script>
        
        $(document).ready(function () {
            
            if ($('#txtResult').val() != "")
            {
                if (!$('#txtResult').val().includes("Code:"))
                {
                    LobiboxAlert('success', 'Éxito', $('#txtResult').val());
                }
                else
                {
                    LobiboxAlert('error', 'Error', $('#txtResult').val());
                }
            }
            $("#clsOk").slideUp("slow");
        });


        function Upload() {
            

            $.ajax({
                url: '/Home/getFFinanciamiento',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    
                    createfFTable(data);
                    defaultFfData = data;
                },
                error: function (xhr) {
                    LobiboxAlert('warning', 'Precaución', 'Error al intentar obtener los datos.');
                }
            });

        }

        function LobiboxAlert(type, title, message) {
            Lobibox.notify(type, {
                title: title,
                size: 'normal',
                pauseDelayOnHover: true,
                continueDelayOnInactiveTab: false,
                closeOnClick: true,
                rounded: false,
                position: "top center",
                icon: true,
                delayIndicator: true,
                msg: message
            });
        }

        function LobiboxErrorAlert(type, message) {
            Lobibox.alert(type, {
                msg: message,
                title: 'Error',
            });
        }

        var defaultFfData = [];
        var fDataArray = [];
        var data = [];
        var selectDataIndex;
        var indexAllowed;
        var btnPressed = 0;
        var selectDataIndexFF;
        var indexAllowedFF;
        var defDesc;
        var defVigente;

        function Guardar() {
            
            if(data.length <= 0)
            {
                LobiboxAlert('warning', 'Precaución', 'No hay datos en la lista.');
            }
            else
            {
                
                var form = $("#form");
                $.ajax({
                    url: '/Home/GetData',
                    data: form.serialize(),
                    type: 'POST',
                    success: function (data) {
                        clear(data);
                    },
                    error: function (xhr) {
                        LobiboxAlert('warning', 'Precaución', 'Error al intentar guardar los datos.');

                    }
                });
            }
        };

        function clear(msg) {
            debugger
            if (msg.includes("Code:")) {
                LobiboxErrorAlert('error', msg);
            }
            else {
                LobiboxAlert('success', 'Exito', msg);
                data = [];
                imprimir();
            }
        }

        function clearFF(msg) {
            debugger
            if (msg.includes("Code:"))
            {
                LobiboxErrorAlert('error', msg);
            }
            else {
                LobiboxAlert('success', 'Exito', msg);
                fDataArray = [];
                imprimirFF(fDataArray);
            }
        }

        function Update() {
            
            if (fDataArray.length <= 0) {
                LobiboxAlert('warning', 'Precaución', 'No hay datos en la lista.');
            }
            else if($("#btnDeleteFFNUPD").length <= 0)
            {
                LobiboxAlert('warning', 'Precaución', 'No hay datos para actualizar.');
            }
            else {
                
                var form = $("#form");
                $.ajax({
                    url: '/Home/Update',
                    data: form.serialize(),
                    type: 'POST',
                    success: function (data) {
                        clearFF(data);
                    },
                    error: function (xhr) {
                        LobiboxAlert('warning', 'Precaución', 'Error al intentar actualizar los datos.');

                    }
                });
            }
        };


        function Agregar() {
            
            var desc = $('#txtSubDesc').val();
            if (desc != "") {
                if (!btnPressed == 1) {
                    var isChecked;
                    if ($('#ckbVigente').is(":checked")) {
                        isChecked = "checked";
                    } else {
                        isChecked = "N";
                    }
                    var grupo = $('#ddGrupos').val();
                    var fFinanciamientoId = grupo + $('#txtSubG').val();

                    if ($('#ckbVigente').val() == "") {
                        LobiboxAlert('warning', 'Precaución', 'Seleccione un Perfil.');
                    }
                    else {
                        cargaDetalle(isChecked, fFinanciamientoId, $('#ddGrupos').val(), $('#txtSubG').val());
                        imprimir();
                        $('.ddGrupos-DropDownCls option').eq(0).prop('selected', true);
                    }
                }
                else {
                    alert("Esta en modo edición")
                }
            }
            else {
                LobiboxAlert('warning', 'Precaución', 'Escriba una descripción.');
            }
        };

        function cargaDetalle(isChecked,fFinanciamientoId, grupo,sGrupo) {

            Desc_Perfil = $('#txtSubDesc').val();

            var ExisteRestriccion = false;
            $.each(data, function (i, item) {
                if (item.Perfil == fFinanciamientoId) {
                    ExisteRestriccion = true;
                }
            });


            if ($.isEmptyObject(data) || ExisteRestriccion == false) {
                data.push({
                    grupoId: grupo,
                    sGrupoTxt: sGrupo,
                    boton2: "<button class='btn-info'></button>",
                    Perfil: fFinanciamientoId,
                    Desc_Perf: Desc_Perfil,
                    Grupo:isChecked,
                    boton: "<button class='deleteButton' onclick='deleteButtonClick()'>Eliminar</button>",
                    items: []
                });
            }
            else
            {
                LobiboxAlert('warning', 'Precaución', 'La restricción ya existe.');
            }
        };

        function createfFTable(fData) {
            
            fDataArray = [];
            var jsonObjectFF = fData;

            for (var i = 0; i < jsonObjectFF.length; i++) {
                fDataArray.push({
                    FFBTNEDIT:"",
                    FFGRUPOFFID: jsonObjectFF[i].FUENTE,
                    FFVIGENTE: jsonObjectFF[i].VIGENTE,
                    FFDESC: jsonObjectFF[i].DESC_FUENTE,
                    FFUPD: "",
                    FFNUPD:"",
                });
            }
            imprimirFF(fDataArray);
        }
        function imprimirFF(fDataArray) {
            $('[id="btnDelete"]').removeAttr('disabled');
            
            $('#tbTablaFF').remove();
            if (!$.isEmptyObject(fDataArray)) {
                document.getElementById("tblFF").appendChild(ToTableFF(fDataArray));
            }
            $('#txtSubG').val("");
            $('#txtSubDesc').val("");
        };

        function ToTableFF(tblData) {
            
            var table2 = document.createElement("tbody");
            table2.id = "tbTablaFF";
            table2.className = "table";
            for (var x = 0; x < tblData.length; x++) {
                var row = document.createElement("tr");
                //
                var IdPerfCell = document.createElement("td");
                IdPerfCell.width = "150px";
                //
                //
                var DescPerfCell = document.createElement("td");
                DescPerfCell.width = "800px";
                //
                
                var deleteButtonRestrriccionCell = document.createElement("td");
                deleteButtonRestrriccionCell.width = "1%";
                deleteButtonRestrriccionCell.style = "padding: 0px;";
                var deleteButtonRestriccion = document.createElement("button");
                var iconButtonRestriccion = document.createElement("i");
                var att = document.createAttribute("aria-hidden");
                att.value = true;
                iconButtonRestriccion.setAttributeNode(att);
                var icoClassName;
                var btnClassName;
                if (tblData[x].FFNUPD == "S") {
                    icoClassName = "fa fa-refresh";
                    btnClassName = "btn btn-warning";
                    deleteButtonRestriccion.disabled = false;
                    deleteButtonRestriccion.id = "btnDeleteFFNUPD";
                }
                else {
                    icoClassName = "fa fa-thumbs-o-up";
                    btnClassName = "btn";
                    deleteButtonRestriccion.disabled = true;
                    deleteButtonRestriccion.id = "btnDeleteFF";
                }
                iconButtonRestriccion.className = icoClassName;

                deleteButtonRestriccion.className = btnClassName;
                deleteButtonRestriccion.style = "width:100%";

                var editButtonRestrriccionCell = document.createElement("td");
                editButtonRestrriccionCell.id = "editCellFF";
                editButtonRestrriccionCell.width = "1px";
                editButtonRestrriccionCell.style = "padding: 0px;";
                editButtonRestrriccionCell.innerHTML = '<button id="btnEditarFF" type="button" class="glyphicon glyphicon-edit btn btn-info" style="width:37px; height:34px; display:block; "></button>';
                //-----------------------------------------------------
                var createCheckboxCell = document.createElement("td");
                createCheckboxCell.width = "1px";
                createCheckboxCell.style = "padding: 0px; text-align: center; vertical-align: middle;";
                var createCheckbox = document.createElement('input');
                createCheckbox.type = 'checkbox';
                var chk;
                if (tblData[x].FFVIGENTE == "S") {
                    chk = "checked";
                }
                else {
                    chk = "";
                }
                createCheckbox.checked = chk;
                createCheckbox.setAttribute("readonly", null);
                createCheckbox.style = 'width:37px; height:25px;';

                //-----------------------------------------------------Inputs invisibles
                var txtIdGrupo = "FuenteFinUpd[" + x + "].FUENTEFUPD";
                var  txtVigente= "FuenteFinUpd[" + x + "].VIGENTEFUPD";
                var txtDesc = "FuenteFinUpd[" + x + "].DESC_FUENTEFUPD";
                var txtFuenteFin = "FuenteFinUpd[" + x + "].FFNUPD";


                var inputGrupo = document.createElement("input");
                inputGrupo.id = txtIdGrupo;
                inputGrupo.name = txtIdGrupo;
                inputGrupo.value = tblData[x].FFGRUPOFFID;
                inputGrupo.type = "Hidden";

                var inputFuenteFin = document.createElement("input");
                inputFuenteFin.id = txtFuenteFin;
                inputFuenteFin.name = txtFuenteFin;
                inputFuenteFin.value = tblData[x].FFNUPD;
                inputFuenteFin.type = "Hidden";

                var inputVigente = document.createElement("input");
                inputVigente.id = txtVigente;
                inputVigente.name = txtVigente;
                inputVigente.value = tblData[x].FFVIGENTE;
                inputVigente.type = "Hidden";

                var inputDesc = document.createElement("input");
                inputDesc.id = txtDesc;
                inputDesc.name = txtDesc;
                inputDesc.value = tblData[x].FFDESC;
                inputDesc.type = "Hidden";
                ///////////////////////////////////////////////////
                var _FFGRUPO = tblData[x].FFGRUPOFFID;
                ////-----------------------------------------------------------
                deleteButtonRestriccion.addEventListener("click", callDeleteFF(_FFGRUPO));
                editButtonRestrriccionCell.addEventListener("click", callEditFF(_FFGRUPO));
                deleteButtonRestriccion.appendChild(iconButtonRestriccion);
                //-------------------------------------------------------------
                IdPerfCell.innerText = tblData[x].FFGRUPOFFID;
                DescPerfCell.innerText = tblData[x].FFDESC;
                //--------------------------------------------------------------
                deleteButtonRestrriccionCell.appendChild(deleteButtonRestriccion);
                createCheckboxCell.appendChild(createCheckbox);
                //---------------------------------------------------------------
                row.appendChild(editButtonRestrriccionCell);
                row.appendChild(IdPerfCell);

                //idgrupo/SubGrupo/Fuentefin
                row.appendChild(inputGrupo);
                //row.appendChild(inputSubGrupo);
                row.appendChild(inputFuenteFin);
                //

                row.appendChild(createCheckboxCell);

                //Vigente
                row.appendChild(inputVigente);
                //

                row.appendChild(DescPerfCell);

                //Desc
                row.appendChild(inputDesc);
                //

                row.appendChild(deleteButtonRestrriccionCell);


                table2.appendChild(row);
            }
            return table2;
        }
        function callEditFF(ID) {
            return function () {
                editButtonClickFF(ID);
            };
        }
        function callDeleteFF(Perfil, Grupo) {
            return function () {
                deleteButtonClickFF(Perfil, Grupo);
            };
        }
        function deleteButtonClickFF(FFGRP) {
            
            for (var i = 0; i < fDataArray.length; i++) {
                if (fDataArray[i].FFGRUPOFFID == FFGRP) {

                    fDataArray[i].FFVIGENTE = defaultFfData[i].VIGENTE,
                    fDataArray[i].FFDESC = defaultFfData[i].DESC_FUENTE,
                    fDataArray[i].FFNUPD = "";
                }
                }
                imprimirFF(fDataArray);
        }
        function editButtonClickFF(FFGRUPOFFID) {
            for (var i = 0; i < fDataArray.length; i++) {
                if (fDataArray[i].FFGRUPOFFID == FFGRUPOFFID) {
                    

                    selectDataIndexFF = i;
                    indexAllowedFF = fDataArray[i].FFGRUPOFFID;

                    defDesc = fDataArray[i].FFDESC;
                    defVigente = fDataArray[i].FFVIGENTE;


                    $("#txtSubDesc").val(fDataArray[i].FFDESC);
                    var checkedFF = fDataArray[i].FFVIGENTE;

                    if (checkedFF != "S") {
                        $("#ckbVigente").removeAttr("checked");
                    }

                    if (checkedFF == "S") {
                        $("#ckbVigente").prop("checked", true);
                    }

                    document.getElementById("txtSubG").focus();
                    if (!$("#btnOk").length <= 0) {
                        $('#btnOk').attr('onclick', 'EditarFF()');
                        $('#btnOk').attr('id', 'btnOkFF');
                    }
                    if (btnPressed == 0) {
                        if (!$("#btnDeleteFFNUPD").length <= 0)
                        {
                            $('[id="btnDeleteFFNUPD"]').prop("disabled", true);
                        }
                        $('[id="btnDelete"]').prop("disabled", true);
                        $('#txtSubG').prop("disabled", true);
                        $('#ddGrupos').prop("disabled", true);
                        $('#addBtn').prop("disabled", true);
                        $('[id="btnGuardar"]').prop("disabled", true);
                        $('#cargarBtn').prop("disabled", true);
                        $('[id="editCell"]').addClass('unselectable');
                        $('#clsOk').append('<button id="btnOkFF" type="button" class="glyphicon glyphicon-ok btn btn-success pull-left" onclick="EditarFF()"></button>');
                        $("#clsOk").slideDown("slow");
                        btnPressed = 1;
                    }

                }

            }
        }

        function EditarFF() {
            
            var isChecked;
            if ($('#ckbVigente').is(":checked")) {
                isChecked = "checked";
            } else {
                isChecked = "";
            }
            var descFF = $('#txtSubDesc').val();

            if (descFF == "") {
                LobiboxAlert('warning', 'Precaución', 'Escriba una descripción.');
            }
            else {
                cargaDetalleEditadoFF(isChecked, descFF, defDesc, defVigente);
                $('.ddGrupos-DropDownCls option').eq(0).prop('selected', true);
            }
        }

        function cargaDetalleEditadoFF(isChecked, descFF,defD,defV) {

            

            if (defV == "S")
            {
                defV = "checked"
            }
            else {
                defV = "";
            }



            if(defD != descFF || defV != isChecked)
            {

                fDataArray[selectDataIndexFF].FFBTNEDIT = "";
            var chk;
            if (isChecked == "checked") {
                chk = "S";
            }
            else {
                chk = "N";
            }

            fDataArray[selectDataIndexFF].FFVIGENTE = chk;
            fDataArray[selectDataIndexFF].FFDESC = descFF;
            fDataArray[selectDataIndexFF].FFUPD = "S";
            fDataArray[selectDataIndexFF].FFNUPD = "S";
        }

                $("#clsOk").slideUp("slow");
                $('#btnOkFF').remove();
                btnPressed = 0;
                $('#addBtn').removeAttr('disabled');
                $('[id="btnGuardar"]').removeAttr('disabled');
                $('#txtSubG').removeAttr('disabled');
                $('#ddGrupos').removeAttr('disabled');
                $('#cargarBtn').removeAttr('disabled');
                $('[id="editCell"]').removeClass('unselectable');
                imprimirFF(fDataArray);
        };


        function imprimir() {
            $('[id="btnDelete"]').removeAttr('disabled');
            $('#tbTabla').remove();
            if (!$.isEmptyObject(data)) {
                document.getElementById("tblPerfGrup").appendChild(ToTable(data));
            }
            $('#txtSubG').val("");
            $('#txtSubDesc').val("");
        };

        function ToTable(tblData) {
            var table2 = document.createElement("tbody");
            table2.id = "tbTabla";
            table2.className = "table";
            for (var x = 0; x < tblData.length; x++) {
                var row = document.createElement("tr");

                //
                var IdPerfCell = document.createElement("td");
                IdPerfCell.width = "150px";
                //
                //
                var DescPerfCell = document.createElement("td");
                DescPerfCell.width = "800px";
                //
                var IdGrupoCell = document.createElement("td");
                var DescGrupoCell = document.createElement("td");


                var deleteButtonRestrriccionCell = document.createElement("td");
                deleteButtonRestrriccionCell.width = "1%";
                deleteButtonRestrriccionCell.style = "padding: 0px;";
                var deleteButtonRestriccion = document.createElement("button");
                var iconButtonRestriccion = document.createElement("i");
                var att = document.createAttribute("aria-hidden");
                att.value = true;
                iconButtonRestriccion.setAttributeNode(att);
                iconButtonRestriccion.className = "fa fa-times";
                deleteButtonRestriccion.id = "btnDelete";
                deleteButtonRestriccion.className = "btn btn-danger";
                deleteButtonRestriccion.style = "width:100%";

                var editButtonRestrriccionCell = document.createElement("td");
                editButtonRestrriccionCell.id = "editCell";
                editButtonRestrriccionCell.width = "1px";
                editButtonRestrriccionCell.style = "padding: 0px;";
                editButtonRestrriccionCell.innerHTML = '<button id="btnEditar" type="button" class="glyphicon glyphicon-edit btn btn-info" style="width:37px; height:34px; display:block; "></button>';
                //-----------------------------------------------------
                var createCheckboxCell = document.createElement("td");
                createCheckboxCell.width = "1px";
                createCheckboxCell.style = "padding: 0px; text-align: center; vertical-align: middle;";
                var createCheckbox = document.createElement('input');
                createCheckbox.type = 'checkbox';
                var chk;
                if (tblData[x].Grupo == "checked") {
                    chk = "checked";
                }
                else {
                    chk = "";
                }


                createCheckbox.checked = chk;
                createCheckbox.setAttribute("readonly",null);
                createCheckbox.style = 'width:37px; height:25px;';
                //---------------------------------------------Inputs invisibles
                var txtIdGrupo = "FuenteFin[" + x + "].ID_GRUPO";
                var txtSubGrupoFuente = "FuenteFin[" + x + "].SUB_GRUPO_FUENTE";
                var txtFuenteFin = "FuenteFin[" + x + "].FUENTE_FINANCIAMIENTO";
                var txtVigente = "FuenteFin[" + x + "].VIGENTE";
                var txtDesc = "FuenteFin[" + x + "].DESC";



                var inputGrupo = document.createElement("input");
                inputGrupo.id = txtIdGrupo;
                inputGrupo.name = txtIdGrupo;
                inputGrupo.value = tblData[x].grupoId;
                inputGrupo.type = "Hidden";

                var inputSubGrupo = document.createElement("input");
                inputSubGrupo.id = txtSubGrupoFuente;
                inputSubGrupo.name = txtSubGrupoFuente;
                inputSubGrupo.value = tblData[x].sGrupoTxt;
                inputSubGrupo.type = "Hidden";

                var inputFuenteFin = document.createElement("input");
                inputFuenteFin.id = txtFuenteFin;
                inputFuenteFin.name = txtFuenteFin;
                inputFuenteFin.value = tblData[x].Perfil;
                inputFuenteFin.type = "Hidden";

                var inputVigente = document.createElement("input");
                inputVigente.id = txtVigente;
                inputVigente.name = txtVigente;
                inputVigente.value = tblData[x].Grupo;
                inputVigente.type = "Hidden";

                var inputDesc = document.createElement("input");
                inputDesc.id = txtDesc;
                inputDesc.name = txtDesc;
                inputDesc.value = tblData[x].Desc_Perf;
                inputDesc.type = "Hidden";




                var _Perf = tblData[x].Perfil;
                var _Grup = tblData[x].Grupo;
                //---------------------------------------------------------------
                deleteButtonRestriccion.addEventListener("click", callDelete( _Perf, _Grup));
                editButtonRestrriccionCell.addEventListener("click", callEdit(_Perf, _Grup));
                deleteButtonRestriccion.appendChild(iconButtonRestriccion);
                //-------------------------------------------------------------
                IdPerfCell.innerText = tblData[x].Perfil;
                DescPerfCell.innerText = tblData[x].Desc_Perf;
                IdGrupoCell.innerText = tblData[x].Grupo;
                DescGrupoCell.innerText = tblData[x].Desc_Grup;
                //---------------------------------------------------------------
                deleteButtonRestrriccionCell.appendChild(deleteButtonRestriccion);
                createCheckboxCell.appendChild(createCheckbox);
                //---------------------------------------------------------------
                row.appendChild(editButtonRestrriccionCell);
                row.appendChild(IdPerfCell);

                row.appendChild(inputGrupo);
                row.appendChild(inputSubGrupo);
                row.appendChild(inputFuenteFin);
                //

                row.appendChild(createCheckboxCell);

                //Vigente
                row.appendChild(inputVigente);
                //

                row.appendChild(DescPerfCell);

                //Desc
                row.appendChild(inputDesc);
                //

                row.appendChild(deleteButtonRestrriccionCell);


                table2.appendChild(row);
            }
            return table2;
        }

        function callDelete(Perfil, Grupo)
        {
            return function () {
                deleteButtonClick(Perfil, Grupo);
            };
        }
        //----------------------------------------------------------------
        function callEdit(Perfil, Grupo)
        {
            return function () {
                editButtonClick(Perfil, Grupo);
            };
        }
        //----------------------------------------------------------------

        function deleteButtonClick(Perfil, Grupo) {
            if (!btnPressed == 1) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Perfil == Perfil && data[i].Grupo == Grupo) {
                        data.splice(i, 1);
                    }
                }
                imprimir();
            }
            else {
                alert("Esta en modo edición");
            }
        }
        //-----------------------------------------------------------------
        function editButtonClick(Perfil, Grupo) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].Perfil == Perfil && data[i].Grupo == Grupo) {
                    
                    selectDataIndex = i;
                    indexAllowed = data[i].Perfil;
                    var ddSelected = data[i].grupoId;
                    $("#ddGrupos").val(ddSelected);
                    var txtSubVal = data[i].sGrupoTxt;
                    $("#txtSubG").val(txtSubVal);
                    $("#txtSubDesc").val(data[i].Desc_Perf);
                    var checked = data[i].Grupo;

                    if (checked != "checked") {
                        $("#ckbVigente").removeAttr("checked");
                    }

                    if (checked == "checked") {
                        $("#ckbVigente").prop("checked", true);
                    }

                    document.getElementById("txtSubG").focus();
                    
                    if (btnPressed == 0) {
                        $('[id="btnDelete"]').prop("disabled", true);
                        $('#addBtn').prop("disabled", true);
                        $('[id="btnGuardar"]').prop("disabled", true);
                        $('#cargarBtn').prop("disabled", true);
                        $('[id="editCellFF"]').addClass('unselectable');
                        $('#clsOk').append('<button id="btnOk" type="button" class="glyphicon glyphicon-ok btn btn-success pull-left" onclick="Editar()"></button>');
                        $("#clsOk").slideDown("slow");
                        btnPressed = 1;
                    }

                }

            }
        }

        function Editar() {
            

            if ($('#txtSubDesc').val() != "") {
                var isChecked;
                if ($('#ckbVigente').is(":checked")) {
                    isChecked = "checked";
                } else {
                    isChecked = "";
                }
                var grupo = $('#ddGrupos').val();
                var fFinanciamientoId = grupo + $('#txtSubG').val();

                if ($('#ckbVigente').val() == "") {
                    LobiboxAlert('warning', 'Precaución', 'Seleccione un Perfil.');
                }
                else {
                    cargaDetalleEditado(isChecked, fFinanciamientoId, $('#ddGrupos').val(), $('#txtSubG').val());
                    $('.ddGrupos-DropDownCls option').eq(0).prop('selected', true);
                }
            }
            else {
                LobiboxAlert('warning', 'Precaución', 'Escriba una descripción.');
            }
        }

        function cargaDetalleEditado(isChecked, fFinanciamientoId, grupo,sGrupo) {
            Desc_Perfil = $('#txtSubDesc').val();

            var ExisteRestriccion = false;
            $.each(data, function (i, item) {
                if (item.Perfil == fFinanciamientoId) {
                    ExisteRestriccion = true;
                }
            });

            
            if (indexAllowed == fFinanciamientoId) {
                ExisteRestriccion = false;
            }
            if ($.isEmptyObject(data) || ExisteRestriccion == false) {
                    data[selectDataIndex].grupoId = grupo,
                    data[selectDataIndex].sGrupoTxt = sGrupo,
                    data[selectDataIndex].boton2 = "<button class='btn-info'></button>";
                    data[selectDataIndex].Perfil = fFinanciamientoId;
                    data[selectDataIndex].Desc_Perf = Desc_Perfil;
                    data[selectDataIndex].Grupo = isChecked;
                    data[selectDataIndex].boton = "<button class='deleteButton' onclick='deleteButtonClick()'>Eliminar</button>";
                    $("#clsOk").slideUp("slow");
                    $('#btnOk').remove();
                    btnPressed = 0;
                    $('#addBtn').removeAttr('disabled');
                    $('[id="btnGuardar"]').removeAttr('disabled');
                    $('#cargarBtn').removeAttr('disabled');
                    $('[id="editCellFF"]').removeClass('unselectable');
                    imprimir();
                }
                else {
                alert('Precaución, ' + 'la restricción ya existe.');
                }
        };
    </script>
